body{
    background: #ccc;
}

img{
    pointer-events:none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;
}

.main-wrapper{
    /*width: 500px;*/
    /*height: 100%;*/
    /*margin: auto;*/
    overflow: hidden;
}


.x-image img {
	width: 40px;
	height: 40px;
    /*z-index: 1000;*/
}

.main-wrapper {
	position: relative; /* for later use, keeps x's sticky */
}

.tooltip {
    display: inline;
    position: relative;
}

.tooltip:hover:after{
    background: rgba(256,245,230,.7);
    border-radius: 5px;
    bottom: 65px;
    left: -15px;
    font-family: "Comic Sans MS";
    color: #451505;
    content: attr(name);
    padding: 5px 15px;
    position: absolute;
    z-index: 98;
    width: 220px;
    box-shadow: 3px 3px 6px #555;
}


.tooltip.hide:hover:after{
    display: none;
}

.instructions{
    background: rgba(0, 0, 0, 0);
    color: white;
    position: fixed;
    top: 10px;
    left: 40px;
    width: 15em;
    height: 10em;
    text-align: center;
    text-shadow: 3px 3px 8px #000;
}