.x-image img {
	width: 40px;
	height: 40px;
}

.main-wrapper {
	position: relative; /* for later use, keeps x's sticky */
}

.tooltip {
    display: inline;
    position: relative;
}

.tooltip:hover:after{
    background: #333;
    background: rgba(256,256,256,.6);
    border-radius: 5px;
    bottom: 45px;
    color: #000;
    content: attr(title);
    left: 20%;
    padding: 5px 15px;
    position: absolute;
    z-index: 98;
    width: 220px;
}