body{
    background: #ccc;
}

img{
    pointer-events:none;
}

.main-wrapper{
    width: 500px;
    height: 300px;
    margin: auto;
    overflow: hidden;
}


.x-image img {
	width: 40px;
	height: 40px;
}

.main-wrapper {
	position: relative; /* for later use, keeps x's sticky */
}

.tooltip {
    display: inline;
    position: relative;
}

.tooltip:hover:after{
    background: rgba(256,245,230,.7);
    border-radius: 5px;
    bottom: 65px;
    left: -15px;
    font-family: "Comic Sans MS";
    color: #451505;
    content: attr(name);
    padding: 5px 15px;
    position: absolute;
    z-index: 98;
    width: 220px;
    box-shadow: 3px 3px 6px #555;
}


.tooltip.hide:hover:after{
    display: none;
}